* {
    font-family: 'Merryweather' ;
    font-style:normal;
    font-weight: normal;
    background-color:  #f1f1f1;
}
/*
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;*/

@media only screen and ( max-width: 600px) {
    /* For mobile phones: */
    .dropdown , .dropbtn{
        width: 100%;
        background-color: #f1f1f1;
        text-align: center;
    }

}

    @media only screen and (max-width: 600px) {
        /* For mobile phones: */
         .row, .column {
            width: 100%;
            float: left;
             text-align: center;
        }
    }





    body {
        box-sizing: border-box;
        margin: 0;
        line-height: 1;
        font-size: 14px;
    }

    .header {
        width: 100%;
        background-color: #f1f1f1;
        /*padding: 20px;*/
        text-align: left;
        border: none;
    }

.footer {

   position: page;

    margin-top: 20px;

    left: 0;

    bottom: 0;

    width: 100%;

    background-color: #f1f1f1;

    text-align: center;

    border: none;

}

    /*
    .header {
        width: 920px;float:left;padding:20px;
    }
    */
    logo {
        width: 18.75%; /*      180px  / 960px = 0.1875    */
        margin-left: 2.0833%; /*      20px  / 960px = 0.020833em    */
    }

    nav {
        width: 72.9166%; /*    700px  / 960px = 0.729166    */
        margin-right: 2.0833%; /*    20px  / 960px = 0.020833em    */
    }

    ul {
        list-style-type: none;
        margin: 0;
        /*padding: 0;*/
        overflow: hidden;
        border: none;
        background-color: #f1f1f1;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: #666666;
        text-align: center;
        /*padding: 16px 16px;*/
        text-decoration: none;
    }

    li a:hover:not(.active) {
        background-color: #f1f1f1;
    }

    /*li a.active {
         color: white;
         background-color: #dddddd;
     }*/

    .row{
        border: none;
        width: 100%;
    }



    .column {
        background-color: #f1f1f1;
        float: left;
        text-align: center;
        width: 50%;
        /*padding: 200px;*/
        border: none;
    }

    /*
    .footer {
        width: auto;
        background-color: #f1f1f1;
        padding: 10px;
        text-align: center;
    }*/
    /*
    footer {width:920px;float:left;padding:20px;background:#676767;color:#fff;}
    footer a 	{font:14px;color:#fff; line-height:30px;}
    footer a:hover 	{color:#d8e8f5;}
    footer p 	{padding-left:10px;
    */


    .dropbtn {
        background-color: #f1f1f1;
        color: black;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .dropdown {

        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: fixed;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

.dropdown:hover .dropdown-content {display: block;}


    .dropdown-content a:hover {
        background-color: #f8e8b3;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #f8e8b3;
    }

.collegamento:hover {
    background-color: yellow;
}


    .key {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        width: 100%;
        border: none;
        cursor: pointer;
    }

    .key:hover {
        background-color: #f8e8b3;
    }

    #search_form {
        display: inline-block;
        font: bold 10px Verdana, Geneva, Arial, Helvetica, sans-serif;
        font-size: medium;
        color: black;
    }

    #search_form input[type="image"] {
        display: inline-block;
        height: 15px;
    }


    #search_input {
        font-size: medium;
        alignment: center;
    }
/*
    p {
        font-size: 1em;
        line-height: 1.125em;
        padding: 0 6.25%;
    }
*/
    #contenitore {
        max-width: 60em /*    960px / 16px  = 60em     */
    }

    #gallery {
        width: 100%;
        height: auto;
        max-width: 100%;
    }

    img {
        width: 50%;
        height: auto;
    }

    .h {
        font-size: 10vw;
    }

    .a{
        width: 100%;
        margin: 0;
        overflow: hidden;
        border: none;
    }

.premi {
    background-color: #45F55C;
    border: none;
    color: black;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.premix {
    background-color: #f55050;
    border: none;
    color: black;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


td{
    font-size: larger;
}

h1, h2, h3, h4, h5, h6 {font-size: larger;}

input[type="text"] input[type="email"] input[type="password"] input[type="number"] input[type="file"]{
    padding: 7px 7px;
}

input{
    padding: 7px 7px;
}

select#Fornitura {
    padding: 4px 20px;
}